
.SkillsContainer{
    display: flex;
    margin-top: 200px;
    width: 800px;
    align-items: center;
    justify-content: center;
    height: 800px;
    flex-direction: column;
    gap:3rem;
    
}

.SkillListContainer{
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    flex-wrap: wrap;
}
.Svg{
    width: 85px;
}